form{
    display: flex;
    flex-direction: column;
 
    
}
.mat-card{
    background-color: rgb(6, 6, 48);
}
.ng.invalid-touched{
    border: 1px solid red;
}


button{
    margin-top: 20px;
    margin-right: 15px;
}