<mat-card>
    <form>
    <mat-card-title>Deletar colaborador</mat-card-title>
    
        <mat-form-field>
            <label>Nome Completo</label>
            <input matInput disabled placeholder="Nome completo" [(ngModel)]="colaboradores.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <label>E-mail</label>
            <input matInput disabled placeholder="E-mail" [(ngModel)]="colaboradores.email" name="email">
        </mat-form-field>

        <mat-form-field>
            <label>Idade</label>
            <input matInput disabled placeholder="Idade" [(ngModel)]="colaboradores.idade" name="idade">
        </mat-form-field>
        
        <mat-form-field>
            <label>Login</label>
            <input matInput disabled placeholder="Login" [(ngModel)]="colaboradores.login" name="login">
        </mat-form-field>

        <mat-form-field>
            <label>Senha</label>
            <input matInput disabled type="password" [(ngModel)]="colaboradores.senha" name="senha">
        </mat-form-field>
        <mat-form-field>
            <label>Status</label>
            <input matInput disabled  [(ngModel)]="colaboradores.status" name="status">
        </mat-form-field>
        <mat-form-field>
            <label>Departamento</label>
            <input matInput disabled  [(ngModel)]="colaboradores.departamento" name="departamento">
        </mat-form-field>
        <mat-form-field>
            <label>Grupos</label>
            <input matInput disabled  [(ngModel)]="colaboradores.grupos" name="grupos">
        </mat-form-field>

          <mat-form-field>
            <label>Redes-Sociais</label>
            <input matInput  disabled placeholder="Redes-Sociais" [(ngModel)]="colaboradores.redes" name="redes">
          </mat-form-field>
          <mat-form-field>
            <label>Descrição de perfil</label>
            <input matInput disabled placeholder="Descrição" [(ngModel)]="colaboradores.descricao" name="descricao">
          </mat-form-field>
        <mat-form-field>
            <label>arquivo</label>
            <input matInput disabled placeholder="Redes-Sociais" [(ngModel)]="colaboradores.arquivo" name="arquivo">
        </mat-form-field>
        
    
    


<button mat-raised-button (click)="delete()" color="accent">
   Deletar
</button>
<button mat-raised-button (click)="cancel()" >
    Cancelar
</button>
</form>
</mat-card>